# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
venv_bp/

# Environment variables
.env

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db